@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  background: #000000;
  font-family: Poppins;
}
.header {
  font-weight: 10px;
}
.header span {
  color: #fff;
}
.team {
   font-family: Poppins;
   padding-top: 70px;
}
.team span {
  color: #ff0000;
}
.single-service {
  padding: 35px;
  transition: all 0.75s ease;
}
.single-service h2 {
  font-size: 25px;
  font-weight: 500;
}
.single-service h4 {
  font-size: 16px;
  font-weight: 500;
}
.single-service:hover {
  background: darkblue;
  color: #fff;
}
.jumbotron {
  padding-top: 2 rem;
  background-color: #e2edff;
  
}
.footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
}
.link {
  list-style: none;
  text-decoration: none;
  padding-left: 0px;
}
.link a {
  text-decoration: none;
  color: #fff;
}
.main {
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  font-family: Poppins;
  color: #8a2be2;

}
.main span {
  color: #f3b452;
}
.button {
  background-color: darkblue;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  font-weight: 700;
}
.button:hover {
  background-color: #f3b452;
  color: #000000;
}
.art {
  font-size: 16px;
  color: grey;
  font-family: Cambria;
  text-transform: capitalize;
}
.tahap {
  font-size: 30px;
  font-weight: 700;
  color: #142f43;
  text-align: center;
  margin-top: 40px;
}
.tahap span {
  color: #8a2be2;
}
.konten {
  font-family: cambria;
}

/* ceren */
.smk {
  font-size: medium;
  color: #142f43;
  font-family: Montserrat;
  font-weight: 900;
}
.ceren {
  font-weight: 900;
  display: flex;
  user-select: none;
  justify-content: center;
  font-family: Montserrat;
}
.motto {
  margin-top: 10px;
  font-style: italic;
  font-size: 13px;
  color: grey;
  font-family: Cambria;
  text-transform: capitalize;
  margin-bottom: 80px;
}
.b {
  font-size: medium;
  margin-left: 6px;
  color: #C0AB12;
}
.e2 {
  font-size: medium;
  color: #075CAA;
}
 
.s {
  font-size: medium;
  color: #D56A12;
}

.t {
  font-size: medium;
  margin-right: 6px;
  color: #257E17;
}


/* Manfaat */
section {
  position: relative;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background: #fff;
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(4px);
  object-fit: cover;
  user-select: none;

  text-align: center;
  font-size: 18px;
  margin-bottom: 60px;
  margin-top: 60px;
}
.swiper-slide-active {
  transform: scale(1.2);
  transition: .4s;
  filter: blur(0px);
}




/* pendapat para tokoh */
.swiper-slide .box {
  position: relative;
  width: 100%;
  padding: 40px;
}
.swiper-slide .box .detail {
  display: flex;
  align-items: center;
}
.swiper-slide .box .detail .pp {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 30px;
}
.swiper-slide .box .detail .pp img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide .box .detail h3 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1em;
  margin-left: 20px;
}
.swiper-slide .box .detail h3 span {
  font-size: 12px;
}
